<h2>Today's article</h2>
<!--; else noTitle-->
<div *ngIf="addarticle.articles_list">
  <div *ngFor="let art of addarticle.articles_list">
    <a *ngIf="art" href="{{art.url}}" target="_blank">{{art.title}}</a> &nbsp;  <app-likes></app-likes>&nbsp;
    <input *ngIf="art" type="submit" class="btn btn-danger" value="Delete" (click)="addarticle.removeArticle(art)">

  </div>
  <div style="color: #ff0000;" *ngIf="addarticle.error">
    {{ addarticle.error }}
  </div>
</div>

<!--<ng-template #noTitle> Click on the button to see time. </ng-template>-->

<div *ngIf="addarticle.articles_list.length == 0" style="color: red;">Not found article.</div>
<hr>
<label>Title</label>
<input class="form-control" type="text" [(ngModel)]="addarticle.title" autocomplete="on">
<label>Url</label>
<input class="form-control" type="text" [(ngModel)]="addarticle.url" autocomplete="on">
<input type="submit" value="Add" (click)="addarticle.addArticle()">

<app-add-article #addarticle></app-add-article>
