<h2>Today's article</h2>
<div *ngIf="addarticle.articles_list && addarticle.articles_list.length !== 0; else notfoundArticle">
  <div *ngFor="let art of addarticle.articles_list; let index = index">
    <a *ngIf="art" href="{{art.url}}" target="_blank">{{art.title}}</a> &nbsp;
    <app-likes></app-likes>
    &nbsp;
    <input *ngIf="art" type="submit" class="btn btn-success" value="Edit"
           (click)="addarticle.editArticle(art, index)">
    &nbsp;
    <input *ngIf="art" type="submit" class="btn btn-danger" value="Delete" (click)="addarticle.removeArticle(art)">

  </div>
  <div style="color: #ff0000;" *ngIf="addarticle.error">
    {{ addarticle.error }}
  </div>
</div>


<ng-template #notfoundArticle>
  <div *ngIf="addarticle.articles_list.length == 0" style="color: red;">Not found article.</div>
</ng-template>

<hr>
<label>Title</label>
<input class="form-control" type="text" [(ngModel)]="addarticle.title" autocomplete="on">
<label>Url</label>
<input class="form-control" type="text" [(ngModel)]="addarticle.url" autocomplete="on">
<input type="submit" value="Add" (click)="addarticle.addArticle()">
<input type="submit" value="Update" (click)="addarticle.updateArticle()">

<app-add-article [titleX]="test" #addarticle></app-add-article>
